gallery/asset/plot.png filter=lfs diff=lfs merge=lfs -text
gallery/asset/scatter.png filter=lfs diff=lfs merge=lfs -text
gallery/asset/mpl-example.png filter=lfs diff=lfs merge=lfs -text
gallery/asset/plotly5-example.png filter=lfs diff=lfs merge=lfs -text
