numpy   >= 1.21, < 2.0    # ArrayLike and extended annotations: https://numpy.org/devdocs/reference/typing.html
pillow  >= 10.2.0, < 11.0 # pillow:10.0.1 is vulnerable, safe version 10.2.0 CVE-2023-50447
scipy   >= 1.11, < 2.0