numpy   >= 1.21, < 3.0    # 1.21: ArrayLike and extended annotations: https://numpy.org/devdocs/reference/typing.html
pillow  >= 10.3.0, < 11.0 # versions < 10.3 are vulnerable: https://security.snyk.io/package/pip/pillow
scipy   >= 1.11, < 2.0